body {
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.5em;
  background-color: #ddd;
  color: #121212;
}

.container {
  width: 800px;
  height: 650px;
  margin: 0 auto;
  position: relative;
  background-color: #f6f1ff;
}
#video {
max-width: 100%;
max-height: 100%;
}

#video-range-bar {
width: 100%;
position: relative;
top: -90px;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.time-item {
  flex: 1;
  
}

.time-item span{
  background: #f2f2f2;
  padding: 4px 10px;
  margin-left: 10px;
}